<script>
	import { get } from './tutorial/random_number'

	async function getRandomNumber() {
		const res = await get({query: {min:0, max:100}});
		console.log(res)
		const text = res.body;
		console.log(text)

		if (res.status === 200) {
			return text;
		} else {
			throw new Error(text);
		}
	}
	
	let promise = getRandomNumber();

	function handleClick() {
		promise = getRandomNumber();
	}

</script>

<main>
	<button on:click={handleClick}>
	generate random number
</button>

{#await promise}
	<p>...waiting</p>
{:then number}
	<p>The number is {number}</p>
{:catch error}
	<p style="color: red">{error.message}</p>
{/await}
</main>

<style>
	main {
		text-align: center;
		padding: 1em;
		max-width: 240px;
		margin: 0 auto;
	}

	/*h1,*/p {
		color: #ff3e00;
		text-transform: uppercase;
		font-size: 4em;
		font-weight: 100;
	}

	button {
		background: tomato;
		color: whitesmoke;
		font-weight: bold;
		position: relative;
		top: 17em;
		margin: 0 auto;
		border: 2px solid gray;
		border-radius: 5px;
	}

	ul{
		text-align: left;
	}
/*	img {
		width: 100px;
	}*/

	@media (min-width: 640px) {
		main {
			max-width: none;
		}
	}
</style>