<script>
	export let name;
	export let version;
	export let speed;
	export let website;
</script>

<main>
	<h1>¡Hola!</h1>

	<p>
		La <code>{name}</code> es {speed} y puedes revisar su <a href="{version}">versión</a> y visitar nuestra web <a href="{website}">tucancode.tech</a> y leer más.
	</p>

</main>
<style type="text/css">
	code {
		background: #add8e6;
		padding: 3px;
		border-radius: 3px;
	}
</style>
