<script>
	import { createEventDispatcher } from 'svelte';

	const dispatch = createEventDispatcher();

	function sayHello() {
		dispatch('message', {
			text: 'Hello!'
		});
	}
</script>
<main>

	<button on:click={sayHello}>
		Click to say hello
	</button>
	
</main>
<style></style>