<script>
	
	export let answer = "a mistery";


</script>
<main>
	<p>The answer is {answer}</p>
</main>
<style>
	p {
		color: #ff3e00;
		text-transform: uppercase;
		font-size: 4em;
		font-weight: 100;
	}
</style>