<script>
	
	const emojis = {
		manzana: "🍎",
		banana: "🍌",
		zanahoria: "🥕",
		dona: "🍩",
		huevo: "🥚"
	}
	
	export let name;

	const emoji = emojis[name];

</script>
<main>
	
	<p>
	<span>El emoji para {name} es {emoji}</span>
	</p>

</main>
<style>

	p {
		margin: 0.8em 0;
	}

	span {
		display: inline-block;
		padding: 0.2em 1em 0.3em;
		text-align: center;
		border-radius: 0.2em;
		background-color: #FFDFD3;
	}

</style>