<script>
	// Estos valores están vinculados a las propiedades del video.

	let time = 0;
	let duration;
	let paused = true;


	// Se usa para rastrear el tiempo del último evento de mouse down
	let showControls = true;
	let showControlsTimeout;

	let lastMouseDown;

	let handleMove = (e) => {
	// Hace que los controles sean visibles, pero se desvanecen después
	// 2,5 segundos de inactividad
	clearTimeout(showControlsTimeout);
	showControlsTimeout = setTimeout( () => 
	showControls = false, 2500 );
	showControls = true;

	if (!duration) return; // el video aún no ha cargado

	if ( e.type !== 'touchmove' && !(e.buttons & 1) ) return; // el ratón no está abajo

	const clientX = e.type === 'touchmove' ? e.touches[0].clientX : e.clientX;
	const { left, right } = this.getBoundingClientRect();
	time = duration * (clientX - left) / (right - left);
	}

	// no podemos confiar en el evento de clic integrado, porque se activa
	// después de un arrastre, tenemos que escuchar los clics nosotros mismos
	let handleMouseDown = (e) => {
		lastMouseDown = new Date();
	}

	let handleMouseup = (e) => {
		if ( new Date() - lastMouseDown < 300 ) {
			if( paused ) e.target.play();
			else e.target.pause();
		}
	}

	let format = (seconds) => {
		if (isNaN(seconds)) return '...';

		const minutes = Math.floor(seconds / 60);
		seconds = Math.floor(seconds % 60);
		if (seconds < 10) seconds = '0' + seconds;

		return `${minutes}:${seconds}`;
	}

</script>
<main>

	<h1>Caminandes: LLamigos</h1>

	<p>Desde 
	<a href="https://cloud.blender.org/open-projects">
	Blender Open Projects</a>. CC-BY
	</p>

	<div>
		<video
			poster="https://sveltejs.github.io/assets/caminandes-llamigos.jpg"
			src="https://sveltejs.github.io/assets/caminandes-llamigos.mp4"
			on:mousemove={handleMove}
			on:touchmove|preventDefault={handleMove}
			on:mousedown={handleMouseDown}
			on:mouseup={handleMouseup}
			bind:currentTime={time}
			bind:duration 
			bind:paused
		>
		<track kind="captions">
		</video>

		<div
			class="controls"
			style="opacity: {duration && showControls ? 1 : 0}"
		>
		<progress 
			value="{(time / duration) || 0}" 
			max=""/>

		<div class="info">
			<span class="time">{format(time)}</span>
			<span>Haz click en cualquier lugar para
			{paused ? 'play' : 'paused'} / arrastrar 
			para buscar</span>
			<span class="time">{format(duration)}</span>
		</div>

		</div>

	</div>

</main>
<style>
		div {
		position: relative;
	}

	.controls {
		position: absolute;
		top: 0;
		width: 100%;
		transition: opacity 1s;
	}

	.info {
		display: flex;
		width: 100%;
		justify-content: space-between;
	}

	span {
		padding: 0.2em 0.5em;
		color: white;
		text-shadow: 0 0 8px black;
		font-size: 1.4em;
		opacity: 0.7;
	}

	.time {
		width: 3em;
	}

	.time:last-child { text-align: right }

	progress {
		display: block;
		width: 100%;
		height: 10px;
		-webkit-appearance: none;
		appearance: none;
	}

	progress::-webkit-progress-bar {
		background-color: rgba(0,0,0,0.2);
	}

	progress::-webkit-progress-value {
		background-color: rgba(255,255,255,0.6);
	}

	video {
		width: 100%;
	}
</style>