<script>

	let w;
	let y;
	let h;
	let size = 15;
	let text = '';

</script>
<main>

	<input type="range" bind:value={size}>
	<input bind:value={text}>

	<p>size: {w}px {h}px</p>

	<div bind:clientWidth={w} bind:clientHeight={h}>
		<span style="font-size: {size}px;">{text}</span>
	</div>

</main>
<style>
	main {
		/*text-align: center;*/
		padding: 1em;
		max-width: 240px;
		margin: 0 auto;
	}


	input { display: block; }
	div { display: inline-block; }
	span { word-break: break-all; }

	input,p {margin: 6px;}
	@media (min-width: 640px) {
		main {
			max-width: none;
		}
	}
</style>